# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Testing
.tox/
.coverage
.coverage.*
.pytest_cache/
htmlcov/
.cache

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# JetBrains IDEs (IntelliJ, WebStorm, PyCharm, etc.)
.idea/
*.iml
*.iws
*.ipr
out/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump