{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TasteHub</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>

<header>
  <div class="container navbar">
    <div class="logo">Taste<span>Hub</span></div>

    <nav>
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'Recipes' %}">Recipes</a>
      <a href="#about">About</a>
      <a href="">Contact</a>
    </nav>
<div class="nav-buttons">
    <button class="btn">Sign In</button>
      {% if user.is_superuser %}
      <a href="{% url 'admin:index' %}">
       <button class="btn">
        Admin Panel
    </button>
      </a>
      {% endif %}
  </div>

  </div>
</header>

{% block content %}
{% endblock %}

<footer id="contact">
  <div class="container footer-content">
    <div>
      <div class="logo">Taste<span>Hub</span></div>

      <p style="color:#777; margin-top:10px;">
        © 2026 TasteHub. All rights reserved.
      </p>
    </div>

    <div class="socials">
      <a href="https://github.com/Johan-glitch-c">GitHub</a>
      <a href="https://www.linkedin.com/in/ali-asadov-a81239401/">LinkedIn</a>
      <a href="#">YouTube</a>
    </div>
  </div>
</footer>

<script src="{% static 'scripts.js' %}"></script>

</body>
</html>