{% extends 'base.html' %}

{% load static %}


{% block content %}
  <section class="container" style="padding-top: 70px;">

    <div class="section-title">

      <div>

        <p style="color: orange; margin-bottom: 10px;">
          Category
        </p>

        <h2>
          Italian Recipes
        </h2>

      </div>

    </div>

    <div class="recipes">

      <div class="card">

        <img
          src="https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?q=80&w=1200&auto=format&fit=crop"
          alt="Pasta"
        >

        <div class="card-content">

          <span class="category">
            Italian
          </span>

          <h3>
            Creamy Pasta
          </h3>

          <p>
            Delicious creamy pasta with cheese and herbs.
          </p>

          <button class="btn">
            View Recipe
          </button>

        </div>

      </div>

      <div class="card">

        <img
          src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1200&auto=format&fit=crop"
          alt="Pizza"
        >

        <div class="card-content">

          <span class="category">
            Italian
          </span>

          <h3>
            Pepperoni Pizza
          </h3>

          <p>
            Homemade pizza with cheese and pepperoni.
          </p>

          <button class="btn">
            View Recipe
          </button>

        </div>

      </div>

      <div class="card">

        <img
          src="https://images.unsplash.com/photo-1612874742237-6526221588e3?q=80&w=1200&auto=format&fit=crop"
          alt="Lasagna"
        >

        <div class="card-content">

          <span class="category">
            Italian
          </span>

          <h3>
            Lasagna
          </h3>

          <p>
            Traditional Italian lasagna with meat and cheese.
          </p>

          <button class="btn">
            View Recipe
          </button>

        </div>

      </div>

      <div class="card">

        <img
          src="https://images.unsplash.com/photo-1555949258-eb67b1ef0ceb?q=80&w=1200&auto=format&fit=crop"
          alt="Spaghetti"
        >

        <div class="card-content">

          <span class="category">
            Italian
          </span>

          <h3>
            Spaghetti Bolognese
          </h3>

          <p>
            Spaghetti with rich tomato meat sauce.
          </p>

          <button class="btn">
            View Recipe
          </button>

        </div>

      </div>

    </div>

  </section>
{% endblock %}

