{% extends 'base.html' %}

{% load static %}


{% block content %}
  <section class="container" style="padding-top: 70px;">

    <div class="section-title">

      <div>

        <p style="color: orange; margin-bottom: 10px;">
          Category
        </p>

        <h2>
            {{category.name}} Recipes
        </h2>

      </div>

    </div>

    <div class="recipes">
        {% for recipe in recipes %}
      <div class="card">

        <img
          src="{{recipe.image.url}}"
          alt="Pasta"
        >

        <div class="card-content">

          <span class="category">
            {{recipe.category}}
          </span>

          <h3>
              {{recipe.name}}
          </h3>

          <p>
              {{ recipe.description}}
          </p>

          <button class="btn">
            View Recipe
          </button>

        </div>

      </div>
        {% endfor %}


        </div>

  </section>
{% endblock %}

