{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section class="hero container">
    <div class="hero-text">
      <h1>Delicious Recipes For Every Day</h1>

      <p>
        Discover amazing dishes, save your favorite meals, and cook like a professional chef from your own kitchen.
      </p>

      <button class="btn">Explore Recipes</button>
    </div>

    <img
      src="https://images.unsplash.com/photo-1490645935967-10de6ba17061?q=80&w=1400&auto=format&fit=crop"
      alt="Food"
    />
  </section>

  <section class="container">
    <div class="search-box">
      <input type="text" id="searchInput" placeholder="Search recipes..." />
 <select id="categorySelect">
     {% for category in categories %}
      <option value="{{ category.id }}">
            {{ category.name }}
        </option>
     {% endfor %}
      </select>

      <button class="btn" onclick="searchRecipes()">Search</button>
    </div>
  </section>

  <section class="container" id="recipes">
    <div class="section-title">
      <h2>Popular Recipes</h2>
    </div>

<div class="recipes" id="recipeContainer">

  {% for recipe in recipes %}

    <div class="card">

      <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">

      <div class="card-content">

        <span class="category">
          {{ recipe.category }}
        </span>

        <h3>
          {{ recipe.name }}
        </h3>

        <p>
          {{ recipe.ingredients }}
        </p>

        <button class="btn">
          View Recipe
        </button>

      </div>
    </div>

  {% endfor %}

</div>
  </section>

  <section class="container newsletter">
    <h2>Get Weekly Recipe Updates</h2>

    <p>
      Subscribe and receive fresh recipes and cooking inspiration every week.
    </p>

    <div class="newsletter-form">
      <input type="email" placeholder="Enter your email" />
      <button class="btn">Subscribe</button>
    </div>
  </section>
{% endblock %}